<div class = "container">
<h1>Edit Channel</h1>

<%= render 'form', channel: @channel %>

<%= link_to 'Go to Channel', @channel, class: "mybtn4 btntext2" %> 
<%= link_to 'Back', channels_path, class: "mybtn2 btntext2"  %>
</div>
