<footer class = "myfooter">
    <div class = " container ">
        <div class = "row"> 
            <div class = "col-lg-2">
                <p> test content left</p>
            </div>
       
            <div class = "col-lg-6">
              
                <p> App Created by Vladimir Joseph</p>
                <copyright>
                    &copy;  <%= Time.now.year %>
                </copyright>
                
            </div>
            
            <div class = "col-lg-4">
            <p> test content right </p>
            </div>
        </div>

    </div>
</footer>   

