<footer class = "myfooter">
    <div class = " container ">
        <div class = "row"> 
            <div class = "col-lg-2">
                <p> </p>
            </div>
       
            <div class = "col-lg-8 item-center">
              
                <p> App Created by Vladimir Joseph</p>
                <copyright>
                    &copy;  <%= Time.now.year %>
                </copyright>
                
            </div>
            
            <div class = "col-lg-2">
            <%= link_to image_tag("GitHub-Mark-Light-32px.png", alt: "Github"), "https://github.com/CodeICEE/FAFSA-Like-a-Boss", target: :_blank  %>
            </div>
        </div>

    </div>
</footer>   

