<div class = "posts_index">
    <% @posts.order('created_at desc').each do |post| %>

    <h2><%= link_to post.title, post, class: "post_title_index" %></h2>

    <p>
        Published <%= time_ago_in_words(post.created_at)%> ago in 
        <%= link_to post.channel.channel_name, post.channel %> by <strong><%= post.user.username.capitalize %></strong>
    </p>
    
    
    <br>
        <hr>
    <% end %>
</div>

