<div class = "container">

    <h1>Useful Blogs and Sites</h1>
        
    <section class = "blogs-cont">
        
        <div class = "single-blog">  
            <h2>1. Studentaid.Gov - Help Center </h2>
            <%= link_to image_tag("blogs/studentaid-gov.png",  class: "blog-img-link"), "https://studentaid.gov/help-center/answers/landing", target: :_blank%>
            <hr>
        </div>


        <div class = "single-blog">  
            <h2>2. The Offical Blog of the U.S Dept of Education </h2>
            <%= link_to image_tag("blogs/blog-ed-gov.png",  class: "blog-img-link"), "https://blog.ed.gov/topic/federal-student-aid/", target: :_blank%>
            <hr>
        </div>

    <section>

</div>