<div class = "container">

    <h1>Useful Blogs and Sites</h1>
        
    <section class = "blogs-cont">
        
        <div class = "single-blog">  
            <h2>1. Studentaid.Gov - Help Center </h2>
            <%= link_to image_tag("blogs/studentaid-gov.png",  class: "blog-img-link"), "https://studentaid.gov/help-center/answers/landing", target: :_blank%>
            <hr>
        </div>


        <div class = "single-blog">  
            <h2>2. The Offical Blog of the U.S Dept of Education - Blog.ed.gov </h2>
            <%= link_to image_tag("blogs/blog-ed-gov.png",  class: "blog-img-link"), "https://blog.ed.gov/topic/federal-student-aid/", target: :_blank%>
            <hr>
        </div>

        <div class = "single-blog">  
            <h2>3. Choosing the Right Loan - Consumerfinance.gov </h2>
            <%= link_to image_tag("blogs/choose-loan-consumerfinance.png",  class: "blog-img-link"), "https://www.consumerfinance.gov/paying-for-college/choose-a-student-loan/#o1", target: :_blank%>
            <hr>
        </div>

        <div class = "single-blog">  
            <h2>4. How Financial Aid is Determined - Studentaid.gov </h2>
            <%= link_to image_tag("blogs/studentaid-gov-efc.png",  class: "blog-img-link"), "https://studentaid.gov/complete-aid-process/how-calculated", target: :_blank%>
            <hr>
        </div>

    <section>

</div>