<div class ="container">
    
    
    <h1>Useful Financial Calculators</h1>
    <h4>These calculators will help you get a grip on loans and loan payments</h4>
    <br>
    <hr>


    <section class = "calcs-cont">

        <div class = "single-calc">
            <h3>1. Expected Family Contribution (EFC) Calculator - Finaid.org</h3>
            <%= link_to image_tag("calcs/finaid-efc.png",  class: "calc-img-link"), "https://finaid.org/calculators/finaidestimate/", target: :_blank%>
            <hr>
        </div>

        <div class = "single-calc">
            <h3>2. Loan Comparison Calculator - Finaid.org</h3>
            <%= link_to image_tag("calcs/finaid-loan-compare.png",  class: "calc-img-link"), "https://finaid.org/calculators/loancomparison/", target: :_blank%>
            <hr>
        </div>

        <div class = "single-calc">
            <h3>3. Loan Payment Calculator - Finaid.org</h3>
            <%= link_to image_tag("calcs/finaid-loan-payment.png",  class: "calc-img-link"), "https://finaid.org/calculators/loanpayments/", target: :_blank%>
            <hr>
        </div>

    </section>


</div>