
<div class = "jumbotron">
    <h1>Fafsa Like A Boss!</h1>
    <h3>Get help with your FAFSA from EXPERTS!</h3>
    <%= link_to 'Ask an Expert Now!', askexpert_path, class: "bigbtn" %>
</div>

<div class = "home-btns">
    <%= link_to 'Disscussion Forum', posts_path, class: "home-btn-left" %>
    <%= link_to 'Learning Tools', learn_path, class: "home-btn-right" %>
</div>