<h1>This is the Learn page!</h1>
<div>
    <div><%= link_to "Helpful videos", videos_path %></div>
    <div><%= link_to "Useful Blogs", blogs_path %></div>
    <div><%= link_to "Financial Calculators", calcs_path %></div>
</div>


