<div class = "container">
    <h1>Learn!</h1>
    <div class = "learncont">
    
        <h4>Here are some resources we think will help clear up some of the confusion!<h4>
        <br>
        <div class = "learnlinks">
            <%= link_to "Helpful videos", videos_path, class: "learn-link-item video-link" %>
            <%= link_to "Useful Blogs", blogs_path, class: "learn-link-item blog-link" %>
            <%= link_to "Financial Calculators", calcs_path, class: "learn-link-item calc-link" %>
        </div>
    </div>
</div>