<h1>This is the Learn page!</h1>
<div>
    <div><%= link_to "Helpful videos", "#" %></div>
    <div><%= link_to "Useful Blogs", "#" %></div>
    <div><%= link_to "Financial Calculators", "#" %></div>
</div>


