
    <div class =" container">

        <div> <h1>Helpful Videos</h1></div>

        <section class = "video-gal" >
        <div class = "single-video">

            <h3>FAFSA Overview</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/gUis5lityCQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class = "single-video">

            <h3>Troubleshooting your account</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/lIwnEbOXSGg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div> 
            <div class = "single-video">

            <h3>Loan Simulator</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/k81nkuwUwEM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>  
        <div class = "single-video">

            <h3>How to fill out the FAFSA</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/LK0bbu0y5AM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div> 
        <div class = "single-video">

            <h3>Budgeting</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/6Ib-bdko5cE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div> 
        <div class = "single-video">

            <h3>How to manage loans</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/flG4gFIiZzU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>               
        </section>

    </div>
