<%#<p id="notice"></p><%= notice %>
<div class="container">
    <div class = "posts_page_title">
        <div><h1>Welcome to the Forum!</h1></div>
        <%= link_to 'New Post', new_post_path, clasS: "mybtn btntext" %>
    </div>
       
    <br>

    <%= render 'shared/postsall' %>

    <br>



</div>
