<div class = "container">

    <div class = "item-center"> <h1>Create A New Post!</h1> </div>

    <%= render 'form', post: @post %>

    <%= link_to 'Back', posts_path, class: "mybtn2 btntext2" %>

</div>
